extends ../layout

block title
  title Administrator | Edit Tournament
  
block content

  h1 Edit #{tournament.name}

  form(method="post")

    label(for="name") Name
    input(type="text", name="name", value="#{tournament.name}")
    br
    
    label(for="dateStart") Date Start
    input(type="date", name="dateStart", placeholder="mm/dd/yyyy", value="#{tournament.dateStart}")
    br
    
    label(for="dateEnd") Date End
    input(type="date", name="dateEnd", placeholder="mm/dd/yyyy", value="#{tournament.dateEnd}")
    br
    br
    
    legend Rewards
    
    label(for="rewards[0][place]") Place
    input(type="text", name="rewards[0][place]", value="#{tournament.rewards[0].place}")
    label(for="rewards[0][tokens]") Tokens
    input(type="text", name="rewards[0][tokens]", value="#{tournament.rewards[0].tokens}")
    br
    label(for="rewards[1][place]") Place
    input(type="text", name="rewards[1][place]", value="#{tournament.rewards[1].place}")
    label(for="rewards[1][tokens]") Tokens
    input(type="text", name="rewards[1][tokens]", value="#{tournament.rewards[1].tokens}")
    br
    label(for="rewards[2][place]") Place
    input(type="text", name="rewards[2][place]", value="#{tournament.rewards[2].place}")
    label(for="rewards[2][tokens]") Tokens
    input(type="text", name="rewards[2][tokens]", value="#{tournament.rewards[2].tokens}")
    br
    br
    
    input(type="submit")
