extends ../layout

block title
  title Administrator | Edit Tournament
  
block content

  .container

    h2 #{tournament.name}
      
    .row
      .col-xs-12

        form.form-horizontal(method="post")

          .form-group
            label.col-xs-2.control-label.col-xs-2.control-label(for="name") Name
            .col-xs-10
              input.form-control(type="text", name="name", value="#{tournament.name}")
          
          
          .form-group
            label.col-xs-2.control-label(for="dateStart") Date Start
            .col-xs-10
              input.form-control(type="date", name="dateStart", placeholder="mm/dd/yyyy", value="#{tournament.dateStart}")
          
          .form-group
            label.col-xs-2.control-label(for="dateEnd") Date End
            .col-xs-10
              input.form-control(type="date", name="dateEnd", placeholder="mm/dd/yyyy", value="#{tournament.dateEnd}")
          
          legend Rewards
          
          .form-group
            label.col-xs-2.control-label(for="rewards[0][place]") Place
            .col-xs-4
              input.form-control(type="text", name="rewards[0][place]", value="#{tournament.rewards[0].place}")
              
            label.col-xs-2.control-label(for="rewards[0][tokens]") Tokens
            .col-xs-4
              input.form-control(type="text", name="rewards[0][tokens]", value="#{tournament.rewards[0].tokens}")
              
          .form-group
            label.col-xs-2.control-label(for="rewards[1][place]") Place
            .col-xs-4
              input.form-control(type="text", name="rewards[1][place]", value="#{tournament.rewards[1].place}")
              
            label.col-xs-2.control-label(for="rewards[1][tokens]") Tokens
            .col-xs-4
              input.form-control(type="text", name="rewards[1][tokens]", value="#{tournament.rewards[1].tokens}")
              
          .form-group
            label.col-xs-2.control-label(for="rewards[2][place]") Place
            .col-xs-4
              input.form-control(type="text", name="rewards[2][place]", value="#{tournament.rewards[2].place}")
              
            label.col-xs-2.control-label(for="rewards[2][tokens]") Tokens
            .col-xs-4
              input.form-control(type="text", name="rewards[2][tokens]", value="#{tournament.rewards[2].tokens}")
          
          .form-group
            .col-xs-12.text-right
              button.btn.btn-primary(type="submit") Save
