//- Pagination -----------------------------------------------------------------

mixin pagination(start, numPages, curr, base, query)
  - start    = start    || 1
  - numPages = numPages || 1
  - curr     = curr     || 1
  - base     = base     || '#' 
  .pagination
  
    - if(curr==1) 
        a(href='#') Prev
    - else
        a(href='#{curr-1}#{query}') Prev
        
    - for(var i=start;i<start+numPages;i++) {
      &nbsp;&nbsp;&nbsp;&nbsp;
      - if(i==curr)
        a(href='#{base}#{i}#{query}', style="font-weight:bold") #{i}
      - else
        a(href='#{base}#{i}#{query}') #{i}
    - }
      
      &nbsp;&nbsp;&nbsp;&nbsp;
    - if(curr>=numPages)
        a(href='#') Next
    - else
        a(href='#{curr - 0 + 1}#{query}') Next

//- Usage:
//- pagination(3,5,4,'/fda/')

//- ----------------------------------------------------------------------------
